<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- todos.title %></title>
    <style>
      body { padding-top: 70px; }
    </style>
    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<div style="position:fixed;top:0;width:100%" role="main">
<div class="page-header" style="position:relative;border-bottom: 0;padding:10px;">
  <img src="/icon.gif" style="position:absolute;right: 0;z-index: -1;width:160px;"/>
  <h2 style="font-family: futura">Write down a small trifle in your life that has no meaning but can't stop from happening</h2>
  <h3>写下一件在你生活中你认为没有意义却无法抑制地发生了的小事 </h3> 
</div>

      <%- body %> 

</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
 function current(){
     var d=new Date(),str='';
     str +=d.getFullYear()+'年';   //获取当前年份
     str +=d.getMonth()+1+'月';   //获取当前月份（0——11）

     str +=d.getDate()+'日';    
     str +=d.getHours()+'时';
     str +=d.getMinutes()+'分';
     str +=d.getSeconds()+'秒';
     return str; }
     setInterval(function(){$("#nowTime").html(current)},1000);
</script>
  </body>
</html>